@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');
.BlogHeadingSectionContainer{
    margin-top: 10px;
    padding: 10px;
    // background-color: #f1f1f1;
    height: auto;
    width: auto;
    border-radius: 10px;
    font-family: 'Lexend Deca', sans-serif;
}
.BlogHeadingSectionContent a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.BlogHeadingSectionContent a:hover{
    color: orange;
}
.BlogHeadingSectionContent li{
    font-weight: 1000;
    list-style-type: none;
    margin: 30px 10px;
}