.BackgroundLayoutContainer{
    background: linear-gradient(110deg, #f11012,#ffb626);
    height: 2000px;
    padding: 15px;
}
@media only screen and (max-width: 600px) {
    .BackgroundLayoutContainer{
        background: linear-gradient(110deg, #f11012,#ffb626);
        height: 3000px;
        padding: 5px;
    }
  }