.projects-container{
    background-color: #0f111a;
    /* background-color: red; */
    height: auto;
    color:white;
    border-radius: 15px;
    /* margin-bottom: 100px; */
}

// /* .projects-content-card-layout{
//     display: flex;
//     flex-wrap: wrap;
// } */
.inner-layout{
    // width: 296px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    // /* background-color: violet; */
//    width: %;
}
