.projects-container{
    background-color: #0f111a;
    height: auto;
    color:white;
    border-radius: 15px;
}

.projects-responsive-container{
    height: auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.projects-responsive-content1{

    // background-color: white;
    height: 300px;
    width: 300px;
    margin: auto;
}
@media only screen and (max-width: 500px){
    .projects-responsive-container{
        margin-bottom: 100px;
        overflow: auto;
        height: 400px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 20px;
    }
}

