@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&display=swap');


.cards-container{
    height: 300px;
    width: 300px;
    margin: 0;
    background-color: red;
    border-radius: 10px;
}
.cards-content{
    cursor: pointer;
    border-radius: 10px;
    background-color:#FFFBEB;
    height: 300px;
    width: 300px;
}
.cards-title-container{
    box-shadow: 0 0 10px 3px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 23%;
    background:#ECF9FF;
}
.cards-title-container p{
    text-align: start;
    color: black;
    font-weight: 1000;
    font-family: 'Noto Serif JP', serif;
    font-size: 18px;
}
.card-button-container{
    display: flex;
    align-items: center;    
    height: 40%;
}
.card-button-container button{
    border-radius: 10px;
    font-size: 18px;
    font-weight: 1000;
    text-align: center;
    margin: auto;
    cursor: pointer;
    border: 1px solid black ;
    padding: 4px;
    width: 80%;
    color: black;
    background-color: #FFE7CC;
}
.cards-title-container:hover{
    background:#dbf0f9;

}
.cards-content:hover{
     background-color:#fcf5d9;;
}
.card-button-container button:hover{
    background-color: #F8CBA6;
}